html
  head
    title Fake express using pug template engine
  body
    h1 Processing page
    form(action="/process", method="POST")
        input(type="text", name="rawtext", placeholder="Enter text")
        button(type="submit") Send
    span= response

